<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-md-6"> <!-- Ajusta el tamaño según tus preferencias -->
      <div class="form-floating">
        <ng-container  *ngIf="!isEditing; else staticProductName">
          <select class="form-select" [(ngModel)]="selectedProductId" (change)="onChangeProduct()"> <!--[(ngModel)]="selectedProductId"-->
            <option value="" disabled selected>Select a product</option>
            <option *ngFor="let product of availableProducts" [value]="product.id">{{product.name}}</option>
          </select>
          <label for="floatingSelectGrid">Choose the product</label>
      </ng-container>
      <ng-template #staticProductName>
        <div>{{ selectedProduct ? selectedProduct.name : 'N/A' }}</div>
      </ng-template>
      </div>
      <br>
      <div>
        Product price: {{ selectedProductPrice != null ? (selectedProductPrice) : '' }} <!--<span class="badge badge-pill badge-warning">{{ selectedProductPrice != null ? (selectedProductPrice) : 'N/A' }}</span>-->
      </div>
      <br>
      <label for="quantity" class="me-2">Choose quantity:</label>
      <div class="form-floating mt-2 d-flex align-items-center">
        <input type="number" id="quantity" name="quantity" [(ngModel)]="quantity" min="1" class="flex-grow-1">
      </div>
      <br>
      <div>
        Final Price: {{ calculateTotalPrice()}}<!--<span class="badge badge-pill badge-success">{{ calculateTotalPrice()}}</span>-->
      </div>

      <div class="row justify-content-center mt-3">
        <div class="col-md">
          <div class="d-flex justify-content-center">
            <button type="button" class="btn btn-success btn-sm mx-2" (click)="onOKButtonClick()">{{isEditing ? 'Update' :  'OK'}}</button>
            <button type="button" class="btn btn-secondary btn-sm mx-2" (click)="onCancelButtonClick()" [routerLink]="['../form']">{{ isEditing ? 'Cancel' : 'Back' }}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
