<div class="card border-primary mb-3"> <!--style="max-width: 18rem;"-->
  <div class="card-header">New Order</div>
  <div class="card-body text-primary bg-black text-white">
    <h5 class="card-title">Choose your new Orders</h5>
    <div style="margin-bottom: 20px; display: flex; justify-content: space-between; align-items: center;">
      <button type="button" [routerLink]="['/addedit/formproducts']" class="btn btn-primary">Add New Product</button>
      <span>Order N: </span>
      <span>Date : </span>
      <span>Products : {{itemOrders.length}}</span>
      <span>Final Price : {{calculateTotalPrice()}}</span>
    </div>
    <!--<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->

    <!--
    <div *ngIf="clientes?.length ==0" class="alert alert-info">
      No hay regsitros en la base de datos.
    </div>
    -->
    <table class="table table-bordered table-stripped" > <!--*ngIf="orders?.length>0"-->
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Unit Price</th>
          <th>Quantity</th>
          <th>Total Price</th>
          <th colspan="2">
            Options
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let itemOrder of itemOrders"> <!--*ngFor="let order of orders"-->

          <td><button [routerLink]="['/clientes/ver',itemOrder.productId]" class="btn btn-success btn-sm">{{itemOrder.productId}}</button></td>
          <td>{{itemOrder.productName}}</td>
          <td>{{itemOrder.unitPrice}}</td>
          <td>{{itemOrder.quantity}}</td>
          <td>{{itemOrder.totalPrice}}</td>
          <!--<td>{{itemOrder.createAt | date: 'EEEE dd,MMMM yyyy'}}</td>-->
          <td>
            <button type="button" name="editar" class="btn btn-primary" (click)="editItemOrder(itemOrder, $index)">edit</button><!--[routerLink]="['/addedit/formproducts/'+itemOrder.productId]"-->
          </td>
          <td>
            <button type="button" name="eliminar" (click)="deleteItemOrder(itemOrder)" class="btn btn-danger btn-sm">delete</button>
          </td>

        </tr>
      </tbody>
    </table>
    <!--<paginator-nav *ngIf="paginador" [paginador] = "paginador"></paginator-nav>-->
    <div style="margin-top: 20px; text-align: right; bottom: 20px; right: 20px;">
      <button type="button" (click)="addOrder()" [routerLink]="['/orders/my-orders']" class="btn btn-success" (click)="onOKButtonClick()" >{{isEditing ? 'Update' :  'Create'}}</button>
      <button type="button" [routerLink]="['/orders/my-orders']" class="btn btn-danger" style="margin-left: 10px;">Cancel</button>
    </div>

  </div>
</div>
